*{
    margin:0px;
    padding:0px;
    font-family: sans-serif;
}
.header{
    width:100%;
    height:100vh;
    background-image:linear-gradient(rgba(0, 0, 0, 0.75),rgba(0, 0, 0, 0.75)) ,url("petimage.jpg");
    background-size: cover;
    background-position: center;
    
}
.navbar{
    width:100%;
    margin:auto;
    padding:8px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    background-color:rgba(63, 187, 179, 0.832);
    color:black;
    position: fixed;
    z-index: 1;
}
::-webkit-scrollbar{
    background:#009688;
    width:0;
}
.logo{
    width:120px;
    cursor:pointer;
}
.navbar ul li{
    list-style:none;
    display:inline-block;
    margin:0 20px;
    position:relative;
}
.navbar ul li a{
    text-decoration:none;
    color:#fff;
    text-transform:uppercase;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: black;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}
.content{
    width:100%;
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    text-align:center;
    color:#fff;
    font-style:;
}
.content h1{
    font-size: 70px;
    margin-top:80px;
    background-color:transparent;
}
.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}
button{
    width:200px;
    padding:15px 0;
    text-align:center;
    margin:20px 10px;
    border-radius:25px;
    font-weight:bold;
    border: 2px solid #009688;
    background:transparent;
    color:#fff;
    cursor: pointer;
    position:relative;
    overflow:hidden;
}

span{
    background:#009688;
    height:100%;
    width:0;
    border-radius:25px;
    position:absolute;
    left:0;
    bottom:0;
    z-index: -1;
    transition:0.5s;
}
button:hover span{
    width:100%;
}
button:hover{
    border:none;
}
.animalwelfare{
    width:90%;
    
    border:#009688 solid 5px;
    background-color: #fff;
    border-radius:25px;
    margin:25px;
    padding:35px 35px;
    font-size:25px;
    box-shadow: 10px 10px 10px #1f201f;
}
#h1{
    padding:35px;
    color:#009688;
    font-weight:bold;
}
.animal{
    padding-left:20px;
}
#h2{
    padding-left:35px;
    padding-top:35px;
    color:#009688;
    font-weight:bold;
}    
.about{
    width:90%;
    margin-top:85%;
    background-color: #fff;
    border:#009688 solid 5px;
    border-radius:25px;
    margin:25px;
    padding:35px 35px;
    font-size:25px;
    box-shadow: 10px 10px 10px #1f201f;
}
.class1{
    padding-left:650px;
    padding-top: 15px;
    padding-bottom:15px;
    color:black;
    font-weight: bold;
    font-size: 50px;
    background-color:aquamarine;
    border:black solid 5px;
    border-radius: 25px;
}
.class{
    width:90%;
    display:flex;

}
.c1{
    border:#009688 solid 5px;
    border-radius:25px;
    margin:25px;
    padding:35px;
    text-align: center;
    font-weight: bold;
    box-shadow: 10px 10px 10px #1f201f;
}
.c2{
    border:#009688 solid 5px;
    border-radius:25px;
    margin:25px;
    padding:35px;
    color:black;
    text-align: center;
    font-weight: bold;
    box-shadow: 10px 10px 10px #1f201f;
}
.c3{
    border:#009688 solid 5px;
    border-radius:25px;
    margin:25px;
    padding-top:35px;
    padding-left:10px;
    padding-right:10px;
    text-align: center;
    font-weight: bold;
    box-shadow: 10px 10px 10px #1f201f;
}
.c4{
    border:#009688 solid 5px;
    border-radius:25px;
    margin:25px;
    padding:50px;
    text-align: center;
    font-weight: bold;
    box-shadow: 10px 10px 10px #1f201f;
}
.b1{
    width:200px;
    padding:15px 0;
    text-align:center;
    margin:20px 10px;
    border-radius:25px;
    font-weight:bold;
    border: 2px solid #009688;
    background:transparent;
    color:black;
    cursor: pointer;
    position:relative;
    overflow:hidden;
}
.b1:hover span{
    width:100%;
}
.b1:hover{
    border:none;
}
.cb1{
    padding-top:5px;
}
.cb2{
    padding-top:0px;
}
.p2{
    padding-top:60px;
}
.p1{
    padding-top:70px;
}
h1{
    color:#009688;
}
.about1{
    padding-left:650px;
    padding-top: 15px;
    padding-bottom:15px;
    color:black;
    font-weight: bold;
    font-size: 50px;
    background-color:aquamarine;
    border:black solid 5px;
    border-radius: 25px;
    padding-top:0px;
    padding-bottom:0px;
}
#about2{
    font-size:50px;
    color:black;
    
}
.about3{
    text-align:center;
    font-weight:bold;
}
#pets{
    text-decoration: none;
    color:#fff;
}